/*
 * Copyright (c) 2026 MASSDRIVER EI (massdriver.space)
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	fstab {
		compatible = "zephyr,fstab";
		lfs: lfs {
			compatible = "zephyr,fstab,littlefs";
			mount-point = "/flash";
			partition = <&storage_partition>;
			read-size=<16>;
			prog-size=<256>;
			cache-size=<1024>;
			lookahead-size=<32>;
			block-cycles=<4>;
		};
	};

	heap_psram {
		compatible = "micropython,heap";
		size = <DT_SIZE_M(4)>;
		memory-region = <&psram>;
	};

	gpio0_related {
		compatible = "micropython,related-pins-integer-generator";
		gpio-device = <&gpio0>;
		gpio-out-ranges = <0 32>;
	};

	gpio1_related {
		compatible = "micropython,related-pins-integer-generator";
		gpio-device = <&gpio1>;
		gpio-out-ranges = <32 5>;
		gpio-in-ranges = <0 5>;
	};

	named_related_0 {
		compatible = "micropython,related-pins-arbitrary";
		gpio-device = <&gpio0>;
		gpio-strings = "R", "G", "B", "CW", "WW",
			"red", "green", "blue", "coldwhite", "warmwhite";
		gpio-ids = <14 15 16 27 28>,
			<14 15 16 27 28>;
	};

	named_related_1 {
		compatible = "micropython,related-pins-arbitrary";
		gpio-device = <&gpio1>;
		gpio-strings = "BOOT";
		gpio-ids = <4>;
	};
};

&wdt0 {
	status = "okay";
};

&pinctrl {
	uart1_default: uart1_default {
		group1 {
			pinmux = <GPIO3_UART1_TX>;
		};
	};
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	zephyr,deferred-init;
	/* A pinctrl struct MUST have been allocated at build time to use dynamic pinctrl,
	 * but it can be nonsense if needed as the device is deferred-init
	 * and pinctrl won't be applied until device init.
	 */
	pinctrl-0 = <&uart1_default>;
	pinctrl-names = "default";
};

&pinctrl {
	uart2_default: uart2_default {
		group1 {
			pinmux = <GPIO3_UART2_TX>;
		};
	};
};

&uart2 {
	status = "okay";
	current-speed = <115200>;
	zephyr,deferred-init;
	pinctrl-0 = <&uart2_default>;
	pinctrl-names = "default";
};

&pinctrl {
	i2c1_default: i2c1_default {
		group1 {
			pinmux = <GPIO3_I2C1_SDA>;
		};
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	zephyr,deferred-init;
	pinctrl-0 = <&i2c1_default>;
	pinctrl-names = "default";
};

&pinctrl {
	spi1_default: spi1_default {
		group1 {
			pinmux = <GPIO3_SPI1_MOSI>;
		};
	};
};

&spi1 {
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;
	zephyr,deferred-init;
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";
};
