# Build directories
build/
build-*/
docs/genrst/

# Test failure outputs
tests/results/*

# Python cache files
__pycache__/

# Customized Makefile/project overrides
GNUmakefile
user.props

# MacOS desktop metadata files
.DS_Store
