# SPDX-FileCopyrightText: 2014 MicroPython & CircuitPython contributors (https://github.com/adafruit/circuitpython/graphs/contributors)
#
# SPDX-License-Identifier: MIT

[submodule "lib/axtls"]
	path = lib/axtls
	url = https://github.com/micropython/axtls.git
[submodule "lib/libffi"]
	path = lib/libffi
	url = https://github.com/atgreen/libffi
[submodule "lib/berkeley-db-1.xx"]
	path = lib/berkeley-db-1.xx
	url = https://github.com/pfalcon/berkeley-db-1.xx
[submodule "tools/uf2"]
	path = tools/uf2
	url = https://github.com/Microsoft/uf2.git
[submodule "atmel-samd/frozen/Adafruit_CircuitPython_NeoPixel"]
	path = frozen/Adafruit_CircuitPython_NeoPixel
	url = https://github.com/adafruit/Adafruit_CircuitPython_NeoPixel
[submodule "frozen/Adafruit_CircuitPython_Thermistor"]
	path = frozen/Adafruit_CircuitPython_Thermistor
	url = https://github.com/adafruit/Adafruit_CircuitPython_Thermistor.git
[submodule "frozen/Adafruit_CircuitPython_LIS3DH"]
	path = frozen/Adafruit_CircuitPython_LIS3DH
	url = https://github.com/adafruit/Adafruit_CircuitPython_LIS3DH.git
[submodule "frozen/Adafruit_CircuitPython_BusDevice"]
	path = frozen/Adafruit_CircuitPython_BusDevice
	url = https://github.com/adafruit/Adafruit_CircuitPython_BusDevice.git
[submodule "tools/python-semver"]
	path = tools/python-semver
	url = https://github.com/k-bx/python-semver.git
[submodule "atmel-samd/asf4"]
	path = ports/atmel-samd/asf4
	url = https://github.com/adafruit/asf4.git
	branch = circuitpython
[submodule "lib/nrfutil"]
	path = lib/nrfutil
	url = https://github.com/adafruit/nRF52_nrfutil
[submodule "ports/atmel-samd/freetouch"]
	path = ports/atmel-samd/freetouch
	url = https://github.com/adafruit/Adafruit_FreeTouch.git
[submodule "frozen/Adafruit_CircuitPython_CircuitPlayground"]
	path = frozen/Adafruit_CircuitPython_CircuitPlayground
	url = https://github.com/adafruit/Adafruit_CircuitPython_CircuitPlayground.git
[submodule "frozen/Adafruit_CircuitPython_HID"]
	path = frozen/Adafruit_CircuitPython_HID
	url = https://github.com/adafruit/Adafruit_CircuitPython_HID.git
[submodule "ports/atmel-samd/Adafruit_CircuitPython_Motor"]
	path = frozen/Adafruit_CircuitPython_Motor
	url = https://github.com/adafruit/Adafruit_CircuitPython_Motor.git
[submodule "ports/atmel-samd/Adafruit_CircuitPython_seesaw"]
	path = frozen/Adafruit_CircuitPython_seesaw
	url = https://github.com/adafruit/Adafruit_CircuitPython_seesaw.git
[submodule "frozen/Adafruit_CircuitPython_IRRemote"]
	path = frozen/Adafruit_CircuitPython_IRRemote
	url = https://github.com/adafruit/Adafruit_CircuitPython_IRRemote.git
[submodule "frozen/Adafruit_CircuitPython_DotStar"]
	path = frozen/Adafruit_CircuitPython_DotStar
	url = https://github.com/adafruit/Adafruit_CircuitPython_DotStar.git
[submodule "ports/atmel-samd/peripherals"]
	path = ports/atmel-samd/peripherals
	url = https://github.com/adafruit/samd-peripherals.git
[submodule "frozen/Adafruit_CircuitPython_Crickit"]
	path = frozen/Adafruit_CircuitPython_Crickit
	url = https://github.com/adafruit/Adafruit_CircuitPython_Crickit
[submodule "ports/nordic/nrfx"]
	path = ports/nordic/nrfx
	url = https://github.com/adafruit/nrfx.git
[submodule "lib/tinyusb"]
	path = lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
	branch = master
	fetchRecurseSubmodules = false
[submodule "tools/huffman"]
	path = tools/huffman
	url = https://github.com/tannewt/huffman.git
[submodule "tools/adabot"]
	path = tools/adabot
	url = https://github.com/adafruit/adabot.git
[submodule "tools/bitmap_font"]
	path = tools/bitmap_font
	url = https://github.com/adafruit/Adafruit_CircuitPython_BitmapFont.git
[submodule "tools/Tecate-bitmap-fonts"]
	path = tools/Tecate-bitmap-fonts
	url = https://github.com/Tecate/bitmap-fonts.git
[submodule "frozen/pew-pewpew-standalone-10.x"]
	path = frozen/pew-pewpew-standalone-10.x
	url = https://github.com/pewpew-game/pew-pewpew-standalone-10.x.git
[submodule "frozen/circuitpython-stage"]
	path = frozen/circuitpython-stage
	url = https://github.com/python-ugame/circuitpython-stage.git
[submodule "ports/cxd56/spresense-exported-sdk"]
	path = ports/cxd56/spresense-exported-sdk
	url = https://github.com/sonydevworld/spresense-exported-sdk.git
[submodule "frozen/Adafruit_CircuitPython_SD"]
	path = frozen/Adafruit_CircuitPython_SD
	url = https://github.com/adafruit/Adafruit_CircuitPython_SD.git
[submodule "lib/mp3"]
	path = lib/mp3
	url = https://github.com/adafruit/Adafruit_MP3
[submodule "ports/mimxrt10xx/sdk"]
	path = ports/mimxrt10xx/sdk
	url = https://github.com/nxp-mcuxpresso/mcux-sdk.git
[submodule "frozen/Adafruit_CircuitPython_Register"]
	path = frozen/Adafruit_CircuitPython_Register
	url = https://github.com/adafruit/Adafruit_CircuitPython_Register.git
[submodule "extmod/ulab"]
	path = extmod/ulab
	url = https://github.com/v923z/micropython-ulab
[submodule "frozen/Adafruit_CircuitPython_ESP32SPI"]
	path = frozen/Adafruit_CircuitPython_ESP32SPI
	url = https://github.com/adafruit/Adafruit_CircuitPython_ESP32SPI
[submodule "frozen/Adafruit_CircuitPython_Requests"]
	path = frozen/Adafruit_CircuitPython_Requests
	url = https://github.com/adafruit/Adafruit_CircuitPython_Requests
[submodule "lib/protomatter"]
	path = lib/protomatter
	url = https://github.com/adafruit/Adafruit_Protomatter
[submodule "frozen/Adafruit_CircuitPython_LSM6DS"]
	path = frozen/Adafruit_CircuitPython_LSM6DS
	url = https://github.com/adafruit/Adafruit_CircuitPython_LSM6DS
[submodule "frozen/Adafruit_CircuitPython_FocalTouch"]
	path = frozen/Adafruit_CircuitPython_FocalTouch
	url = https://github.com/adafruit/Adafruit_CircuitPython_FocalTouch
[submodule "frozen/Adafruit_CircuitPython_DS3231"]
	path = frozen/Adafruit_CircuitPython_DS3231
	url = https://github.com/adafruit/Adafruit_CircuitPython_DS3231
[submodule "frozen/Adafruit_CircuitPython_DRV2605"]
	path = frozen/Adafruit_CircuitPython_DRV2605
	url = https://github.com/adafruit/Adafruit_CircuitPython_DRV2605
[submodule "frozen/Adafruit_CircuitPython_BLE"]
	path = frozen/Adafruit_CircuitPython_BLE
	url = https://github.com/adafruit/Adafruit_CircuitPython_BLE
[submodule "frozen/Adafruit_CircuitPython_BLE_Apple_Notification_Center"]
	path = frozen/Adafruit_CircuitPython_BLE_Apple_Notification_Center
	url = https://github.com/adafruit/Adafruit_CircuitPython_BLE_Apple_Notification_Center
[submodule "frozen/Adafruit_CircuitPython_RFM9x"]
	path = frozen/Adafruit_CircuitPython_RFM9x
	url = https://github.com/adafruit/Adafruit_CircuitPython_RFM9x.git
[submodule "frozen/Adafruit_CircuitPython_RFM69"]
	path = frozen/Adafruit_CircuitPython_RFM69
	url = https://github.com/adafruit/Adafruit_CircuitPython_RFM69.git
[submodule "ports/espressif/esp-idf"]
	path = ports/espressif/esp-idf
	url = https://github.com/adafruit/esp-idf.git
	branch = circuitpython-v5.2.2
[submodule "ports/espressif/esp-protocols"]
	path = ports/espressif/esp-protocols
	url = https://github.com/espressif/esp-protocols.git
[submodule "ports/espressif/esp-camera"]
	path = ports/espressif/esp-camera
	url = https://github.com/adafruit/esp32-camera.git
	branch = circuitpython
[submodule "frozen/Adafruit_CircuitPython_ST7789"]
	path = frozen/Adafruit_CircuitPython_ST7789
	url = https://github.com/adafruit/Adafruit_CircuitPython_ST7789
[submodule "frozen/Adafruit_CircuitPython_Display_Shapes"]
	path = frozen/Adafruit_CircuitPython_Display_Shapes
	url = https://github.com/adafruit/Adafruit_CircuitPython_Display_Shapes
[submodule "frozen/Adafruit_CircuitPython_Display_Text"]
	path = frozen/Adafruit_CircuitPython_Display_Text
	url = https://github.com/adafruit/Adafruit_CircuitPython_Display_Text
[submodule "frozen/Adafruit_CircuitPython_ProgressBar"]
	path = frozen/Adafruit_CircuitPython_ProgressBar
	url = https://github.com/adafruit/Adafruit_CircuitPython_ProgressBar
[submodule "frozen/Adafruit_CircuitPython_LC709203F"]
	path = frozen/Adafruit_CircuitPython_LC709203F
	url = https://github.com/adafruit/Adafruit_CircuitPython_LC709203F
[submodule "frozen/Adafruit_CircuitPython_SimpleMath"]
	path = frozen/Adafruit_CircuitPython_SimpleMath
	url = https://github.com/adafruit/Adafruit_CircuitPython_SimpleMath
[submodule "ports/raspberrypi/sdk"]
	path = ports/raspberrypi/sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "data/nvm.toml"]
	path = data/nvm.toml
	url = https://github.com/adafruit/nvm.toml.git
	branch = main
[submodule "frozen/Adafruit_CircuitPython_MIDI"]
	path = frozen/Adafruit_CircuitPython_MIDI
	url = https://github.com/adafruit/Adafruit_CircuitPython_MIDI
[submodule "frozen/Adafruit_CircuitPython_SimpleIO"]
	path = frozen/Adafruit_CircuitPython_SimpleIO
	url = https://github.com/adafruit/adafruit_circuitpython_simpleio
[submodule "lib/quirc"]
	path = lib/quirc
	url = https://github.com/adafruit/quirc.git
[submodule "frozen/Adafruit_CircuitPython_APDS9960"]
	path = frozen/Adafruit_CircuitPython_APDS9960
	url = https://github.com/adafruit/Adafruit_CircuitPython_APDS9960
[submodule "rpi-firmware"]
	path = ports/broadcom/firmware
	url = https://github.com/raspberrypi/rpi-firmware.git
	branch = master
	shallow = true
[submodule "lib/adafruit_floppy"]
	path = lib/adafruit_floppy
	url = https://github.com/adafruit/Adafruit_Floppy
[submodule "ports/stm/st_driver/cmsis_device_f4"]
	path = ports/stm/st_driver/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4.git
[submodule "ports/stm/st_driver/cmsis_device_f0"]
	path = ports/stm/st_driver/cmsis_device_f0
	url = https://github.com/STMicroelectronics/cmsis_device_f0.git
[submodule "ports/stm/st_driver/stm32f0xx_hal_driver"]
	path = ports/stm/st_driver/stm32f0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f0xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_f1"]
	path = ports/stm/st_driver/cmsis_device_f1
	url = https://github.com/STMicroelectronics/cmsis_device_f1.git
[submodule "ports/stm/st_driver/stm32f1xx_hal_driver"]
	path = ports/stm/st_driver/stm32f1xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f1xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_f2"]
	path = ports/stm/st_driver/cmsis_device_f2
	url = https://github.com/STMicroelectronics/cmsis_device_f2.git
[submodule "ports/stm/st_driver/stm32f2xx_hal_driver"]
	path = ports/stm/st_driver/stm32f2xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f2xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_f3"]
	path = ports/stm/st_driver/cmsis_device_f3
	url = https://github.com/STMicroelectronics/cmsis_device_f3.git
[submodule "ports/stm/st_driver/stm32f3xx_hal_driver"]
	path = ports/stm/st_driver/stm32f3xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f3xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_f7"]
	path = ports/stm/st_driver/cmsis_device_f7
	url = https://github.com/STMicroelectronics/cmsis_device_f7.git
[submodule "ports/stm/st_driver/stm32f7xx_hal_driver"]
	path = ports/stm/st_driver/stm32f7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32f7xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_h7"]
	path = ports/stm/st_driver/cmsis_device_h7
	url = https://github.com/STMicroelectronics/cmsis_device_h7.git
[submodule "ports/stm/st_driver/stm32h7xx_hal_driver"]
	path = ports/stm/st_driver/stm32h7xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32h7xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_l0"]
	path = ports/stm/st_driver/cmsis_device_l0
	url = https://github.com/STMicroelectronics/cmsis_device_l0.git
[submodule "ports/stm/st_driver/stm32l0xx_hal_driver"]
	path = ports/stm/st_driver/stm32l0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l0xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_l1"]
	path = ports/stm/st_driver/cmsis_device_l1
	url = https://github.com/STMicroelectronics/cmsis_device_l1.git
[submodule "ports/stm/st_driver/stm32l1xx_hal_driver"]
	path = ports/stm/st_driver/stm32l1xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l1xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_l4"]
	path = ports/stm/st_driver/cmsis_device_l4
	url = https://github.com/STMicroelectronics/cmsis_device_l4.git
[submodule "ports/stm/st_driver/stm32l4xx_hal_driver"]
	path = ports/stm/st_driver/stm32l4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l4xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_g0"]
	path = ports/stm/st_driver/cmsis_device_g0
	url = https://github.com/STMicroelectronics/cmsis_device_g0.git
[submodule "ports/stm/st_driver/stm32g0xx_hal_driver"]
	path = ports/stm/st_driver/stm32g0xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g0xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_g4"]
	path = ports/stm/st_driver/cmsis_device_g4
	url = https://github.com/STMicroelectronics/cmsis_device_g4.git
[submodule "ports/stm/st_driver/stm32g4xx_hal_driver"]
	path = ports/stm/st_driver/stm32g4xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32g4xx_hal_driver.git
[submodule "ports/stm/st_driver/cmsis_device_l5"]
	path = ports/stm/st_driver/cmsis_device_l5
	url = https://github.com/STMicroelectronics/cmsis_device_l5.git
[submodule "ports/stm/st_driver/stm32l5xx_hal_driver"]
	path = ports/stm/st_driver/stm32l5xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32l5xx_hal_driver.git
[submodule "ports/stm/st_driver/CMSIS_5"]
	path = ports/stm/st_driver/CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
[submodule "ports/stm/st_driver/stm32f4xx_hal_driver"]
	path = ports/stm/st_driver/stm32f4xx_hal_driver
	url = https://github.com/adafruit/stm32f4xx_hal_driver.git
[submodule "frozen/Adafruit_CircuitPython_PortalBase"]
	path = frozen/Adafruit_CircuitPython_PortalBase
	url = https://github.com/adafruit/Adafruit_CircuitPython_PortalBase.git
[submodule "frozen/Adafruit_CircuitPython_FakeRequests"]
	path = frozen/Adafruit_CircuitPython_FakeRequests
	url = https://github.com/adafruit/Adafruit_CircuitPython_FakeRequests.git
[submodule "frozen/pew-pewpew-lcd"]
	path = frozen/pew-pewpew-lcd
	url = https://github.com/pypewpew/pew-pewpew-lcd.git
[submodule "frozen/mixgo_cp_lib"]
	path = frozen/mixgo_cp_lib
	url = https://github.com/dahanzimin/circuitpython_lib.git
[submodule "frozen/Adafruit_CircuitPython_IS31FL3731"]
	path = frozen/Adafruit_CircuitPython_IS31FL3731
	url = https://github.com/adafruit/Adafruit_CircuitPython_IS31FL3731.git
[submodule "frozen/Adafruit_CircuitPython_Ticks"]
	path = frozen/Adafruit_CircuitPython_Ticks
	url = https://github.com/adafruit/Adafruit_CircuitPython_Ticks.git
[submodule "frozen/Adafruit_CircuitPython_asyncio"]
	path = frozen/Adafruit_CircuitPython_asyncio
	url = https://github.com/adafruit/Adafruit_CircuitPython_asyncio.git
[submodule "frozen/circuitpython_ef_music"]
	path = frozen/circuitpython_ef_music
	url = https://github.com/elecfreaks/circuitpython_ef_music.git
[submodule "frozen/circuitpython_picoed"]
	path = frozen/circuitpython_picoed
	url = https://github.com/elecfreaks/circuitpython_picoed.git
[submodule "ports/raspberrypi/lib/cyw43-driver"]
	path = ports/raspberrypi/lib/cyw43-driver
	url = https://github.com/georgerobotics/cyw43-driver
	branch = main
[submodule "ports/raspberrypi/lib/lwip"]
	path = ports/raspberrypi/lib/lwip
	url = https://github.com/adafruit/lwip.git
	branch = circuitpython8
[submodule "lib/mbedtls"]
	path = lib/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "frozen/Adafruit_CircuitPython_UC8151D"]
	path = frozen/Adafruit_CircuitPython_UC8151D
	url = https://github.com/adafruit/Adafruit_CircuitPython_UC8151D
[submodule "frozen/Adafruit_CircuitPython_SSD1680"]
	path = frozen/Adafruit_CircuitPython_SSD1680
	url = https://github.com/adafruit/Adafruit_CircuitPython_SSD1680
[submodule "ports/broadcom/peripherals"]
	path = ports/broadcom/peripherals
	url = https://github.com/adafruit/broadcom-peripherals.git
	branch = main-build
[submodule "ports/silabs/gecko_sdk"]
	path = ports/silabs/gecko_sdk
	url = https://github.com/SiliconLabs/gecko_sdk.git
	branch = v4.2.1
[submodule "ports/silabs/tools/slc_cli_linux"]
	path = ports/silabs/tools/slc_cli_linux
	url = https://github.com/SiliconLabs/circuitpython_slc_cli_linux
[submodule "ports/raspberrypi/lib/PicoDVI"]
	path = ports/raspberrypi/lib/PicoDVI
	url = https://github.com/circuitpython/PicoDVI.git
	branch = circuitpython
[submodule "frozen/circuitpython-pcf85063a"]
	path = frozen/circuitpython-pcf85063a
	url = https://github.com/bablokb/circuitpython-pcf85063a
[submodule "frozen/Adafruit_CircuitPython_Wave"]
	path = frozen/Adafruit_CircuitPython_Wave
	url = https://github.com/adafruit/Adafruit_CircuitPython_Wave.git
[submodule "ports/raspberrypi/lib/Pico-PIO-USB"]
	path = ports/raspberrypi/lib/Pico-PIO-USB
	url = https://github.com/adafruit/Pico-PIO-USB.git
	branch = sdk2_fix
[submodule "lib/micropython-lib"]
	path = lib/micropython-lib
	url = https://github.com/micropython/micropython-lib.git
[submodule "lib/certificates"]
	path = lib/certificates
	url = https://github.com/adafruit/certificates
[submodule "lib/tlsf"]
	path = lib/tlsf
	url = https://github.com/adafruit/tlsf.git
	branch = circuitpython
[submodule "frozen/CircuitPython_AXP313A"]
	path = frozen/CircuitPython_AXP313A
	url = https://github.com/bill88t/CircuitPython_AXP313A
[submodule "frozen/Adafruit_CircuitPython_framebuf"]
	path = frozen/Adafruit_CircuitPython_framebuf
	url = https://github.com/adafruit/Adafruit_CircuitPython_framebuf
[submodule "frozen/Adafruit_CircuitPython_SSD1306"]
	path = frozen/Adafruit_CircuitPython_SSD1306
	url = https://github.com/adafruit/Adafruit_CircuitPython_SSD1306
[submodule "frozen/Adafruit_CircuitPython_DisplayIO_SSD1306"]
	path = frozen/Adafruit_CircuitPython_DisplayIO_SSD1306
	url = https://github.com/adafruit/Adafruit_CircuitPython_DisplayIO_SSD1306
[submodule "frozen/Adafruit_CircuitPython_ImageLoad"]
	path = frozen/Adafruit_CircuitPython_ImageLoad
	url = https://github.com/adafruit/Adafruit_CircuitPython_ImageLoad
[submodule "frozen/Adafruit_CircuitPython_AHTx0"]
	path = frozen/Adafruit_CircuitPython_AHTx0
	url = https://github.com/adafruit/Adafruit_CircuitPython_AHTx0
[submodule "frozen/Adafruit_CircuitPython_HTTPServer"]
	path = frozen/Adafruit_CircuitPython_HTTPServer
	url = https://github.com/adafruit/Adafruit_CircuitPython_HTTPServer
[submodule "frozen/Adafruit_CircuitPython_ConnectionManager"]
	path = frozen/Adafruit_CircuitPython_ConnectionManager
	url = https://github.com/adafruit/Adafruit_CircuitPython_ConnectionManager.git
[submodule "frozen/Adafruit_CircuitPython_SHT4x"]
	path = frozen/Adafruit_CircuitPython_SHT4x
	url = https://github.com/adafruit/Adafruit_CircuitPython_SHT4x
[submodule "frozen/Adafruit_CircuitPython_Bitmap_Font"]
	path = frozen/Adafruit_CircuitPython_Bitmap_Font
	url = https://github.com/adafruit/Adafruit_CircuitPython_Bitmap_Font
[submodule "frozen/Adafruit_CircuitPython_MPU6050"]
	path = frozen/Adafruit_CircuitPython_MPU6050
	url = https://github.com/adafruit/Adafruit_CircuitPython_MPU6050
[submodule "frozen/Adafruit_CircuitPython_Pixel_Framebuf"]
	path = frozen/Adafruit_CircuitPython_Pixel_Framebuf
	url = https://github.com/adafruit/Adafruit_CircuitPython_Pixel_Framebuf
[submodule "frozen/Adafruit_CircuitPython_LED_Animation"]
	path = frozen/Adafruit_CircuitPython_LED_Animation
	url = https://github.com/adafruit/Adafruit_CircuitPython_LED_Animation
[submodule "frozen/CircuitPython_AXP2101"]
	path = frozen/CircuitPython_AXP2101
	url = https://github.com/CDarius/CircuitPython_AXP2101
[submodule "frozen/CircuitPython_BMA423"]
	path = frozen/CircuitPython_BMA423
	url = https://github.com/jposada202020/CircuitPython_BMA423
[submodule "frozen/Adafruit_CircuitPython_PCF8563"]
	path = frozen/Adafruit_CircuitPython_PCF8563
	url = https://github.com/adafruit/Adafruit_CircuitPython_PCF8563
[submodule "frozen/Adafruit_CircuitPython_Wiznet5k"]
	path = frozen/Adafruit_CircuitPython_Wiznet5k
	url = https://github.com/adafruit/Adafruit_CircuitPython_Wiznet5k
