# For nvm.toml
cascadetoml
jinja2
typer

sh
click
cpp-coveralls

requests
requests-cache

# For translate check
polib

# For pre-commit
black
pyyaml
pre-commit

# for combining the Nordic SoftDevice with CircuitPython
intelhex

# for building & testing natmods
pyelftools

# for mbedtls certificate store
# version limit due to espressif
cryptography<36.1,>=2.1.4

# for web workflow minify
minify_html
jsmin

# for Silicon Labs Configurator (SLC)
websockets
colorama
