# For string compression
huffman

# For nvm.toml
cascadetoml
jinja2
typer

requests
sh
click>=7.1.2
setuptools
cpp-coveralls

# For docs
Sphinx<4
sphinx-rtd-theme
recommonmark
sphinx-autoapi
sphinxcontrib-svg2pdfconverter

# For translate check
polib>=1.1.0

# For pre-commit
pyyaml
astroid>=2.5.1
isort>=5.7.0
black>=20.8b1
mypy>=0.812

# For uploading artifacts
awscli
