CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y
CONFIG_ESPTOOLPY_OCT_FLASH=y

CONFIG_ESP32S2_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_TYPE_ESPPSRAM64=y
CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM=y
CONFIG_SPIRAM_BOOT_INIT=y

CONFIG_SPIRAM_MEMTEST=

#CONFIG_MBEDTLS_HARDWARE_SHA=n

CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-16MiB-ota.csv"

# LWIP
CONFIG_LWIP_LOCAL_HOSTNAME="INSIGHT_V1"
# end of LWIP

#
# TinyUSB
#
CONFIG_USB_ENABLED=n

#
# USB task configuration
#
# CONFIG_USB_DO_NOT_CREATE_TASK is not set
CONFIG_USB_TASK_PRIORITY=5
# end of USB task configuration

#
# Descriptor configuration
#
#CONFIG_USB_DESC_USE_ESPRESSIF_VID=y
#CONFIG_USB_DESC_USE_DEFAULT_PID=y
#CONFIG_USB_DESC_BCDDEVICE=0x0100
#CONFIG_USB_DESC_MANUFACTURER_STRING="THINK TRANSIT"
#CONFIG_USB_DESC_PRODUCT_STRING="INSIGHT"
#CONFIG_USB_DESC_SERIAL_STRING="123456"
#CONFIG_USB_DESC_CDC_STRING="INSIGHT CDC Device"
# end of Descriptor configuration

# CONFIG_USB_MSC_ENABLED is not set
CONFIG_USB_CDC_ENABLED=n
#CONFIG_USB_CDC_RX_BUFSIZE=64
#CONFIG_USB_CDC_TX_BUFSIZE=64
#CONFIG_USB_DEBUG_LEVEL=0
