# CONFIG_USB_OTG_SUPPORTED=y
# CONFIG_TINYUSB_CDC_ENABLED=y
# CONFIG_TINYUSB_CDC_RX_BUFSIZE=256
# CONFIG_TINYUSB_CDC_TX_BUFSIZE=256

CONFIG_ESP_PHY_ENABLE_USB=y

CONFIG_USP_CONSOLE_SECONDARY_USB_SERIAL_JTAG=

CONFIG_ESP_CONSOLE_UART=
CONFIG_ESP_CONSOLE_UART_DEFAULT=
CONFIG_ESP_CONSOLE_USB_CDC=
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y

CONFIG_SOC_USB_OTG_SUPPORTED=y
CONFIG_SOC_USB_PERIPH_NUM=y
CONFIG_SOC_USB_SERIAL_JTAG_SUPPORTED=y

CONFIG_USB_OTG_SUPPORTED=y
CONFIG_USB_HOST_DEBOUNCE_DELAY_MS=250
CONFIG_USB_HOST_CONTROL_TRANSFER_MAX_SIZE=256
CONFIG_USB_HOST_HW_BUFFER_BIAS_PERIODIC_OUT=
CONFIG_USB_HOST_HW_BUFFER_BIAS_IN=
CONFIG_USB_HOST_HW_BUFFER_BIAS_BALANCED=y
CONFIG_USB_HOST_RESET_HOLD_MS=30
CONFIG_USB_HOST_SET_ADDR_RECOVERY_MS=10
