# MicroPython on ESP32, ESP IDF configuration with SPIRAM support

CONFIG_ESP32_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_CACHE_WORKAROUND=y
CONFIG_SPIRAM_IGNORE_NOTFOUND=y
CONFIG_SPIRAM_USE_MEMMAP=y

# v3.3-only (renamed in 4.0)
CONFIG_SPIRAM_SUPPORT=y
