# Run the esp32 at 240Mhz instead of the default 160Mhz.
# The 160Mhz default comes from the esp-idf default... But 240Mhz is in spec, the
# main downside is that it uses a bit more power.
CONFIG_ESP32_DEFAULT_CPU_FREQ_80=
CONFIG_ESP32_DEFAULT_CPU_FREQ_160=
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_MHZ=240
