# 8 MB+ flash

CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y

# Fast flash

CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESP32_REV_MIN_1=y

# OTA

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-8MiBplus-ota.csv"

# Network name

CONFIG_LWIP_LOCAL_HOSTNAME="wESP32"
