menu "Firmware & device configuration"
	config INFO_FIRMWARE_NAME
		string "Code-name of the firmware"
		default "Unknown"

	config INFO_FIRMWARE_BUILD
		int "Build number of the firmware"
		default 0

	config INFO_HARDWARE_NAME
		string "Name of the device"
		default "Generic device"
		help
                A semantic name for your badge

	config MICROPY_FROZEN_MANIFEST
		string "Manifest to load modules from stored in the manifests folder"
		default "manifest.py"

	config INFO_HARDWARE_WOEZEL_NAME
		string "Name of the badge on the app hatchery"
		default "generic"

	config OTA_WEB_SERVER
		string "Hostname of server for OTA updates"
		default "badge.team"

	config OTA_WEB_USE_HTTPS
		bool "Use HTTPS for OTA updates"
		default y

	config OTA_WEB_PORT
		int "Port of server for OTA updates"
		default 443

	config OTA_WEB_PATH
		string "Path on the server for OTA updates"
		default "/firmware/unknown.bin"

	config OTA_WEB_VERSION_PATH
		string "Path on the server for OTA update version"
		default "/firmware/version/unknown.txt"

	config WOEZEL_WEB_SERVER
		string "Hostname of server for app hatchery that contains user apps"
		default "badge.team"

	config WIFI_SSID
		string "Default WiFi ssid"
		default "badge"

	config WIFI_PASSWORD
		string "Default WiFi password, leave empty for unsecure network"
		default ""
	
	choice
		prompt "Default display orientation"
		default DEFAULT_DISPLAY_ORIENTATION_LANDSCAPE
	config DEFAULT_DISPLAY_ORIENTATION_LANDSCAPE
		bool "Landscape (0 degrees)"
	config DEFAULT_DISPLAY_ORIENTATION_PORTRAIT
		bool "Portrait (90 degrees)"
	config DEFAULT_DISPLAY_ORIENTATION_REVERSE_LANDSCAPE
		bool "Reverse landscape (180 degrees)"
	config DEFAULT_DISPLAY_ORIENTATION_REVERSE_PORTRAIT
		bool "Reverse portrait (270 degrees)"
	endchoice
	
	config FW_ENABLE_SHA2017_DISOBEY2019_PARTITION_TABLE_UPGRADE
		bool "Enable partition table upgrade function for SHA2017 and Disobey 2019 badges"
		default n
	
	config FW_DISABLE_OTA_AND_FIRSTBOOT
		bool "Disable OTA update function and first boot ZIP unpacking"
		default n
endmenu
