#
# Espressif IoT Development Framework Configuration
#
#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
# end of Partition Table

#
# Component config
#
#
# Driver Configurations
#
#
# Legacy ADC Configuration
#
CONFIG_ADC_SUPPRESS_DEPRECATE_WARN=y
# end of Legacy ADC Configuration

#
# GPTimer Configuration
#
CONFIG_GPTIMER_SUPPRESS_DEPRECATE_WARN=y
# end of GPTimer Configuration

#
# PCNT Configuration
#
CONFIG_PCNT_SUPPRESS_DEPRECATE_WARN=y
# end of PCNT Configuration

#
# RMT Configuration
#
CONFIG_RMT_SUPPRESS_DEPRECATE_WARN=y
# end of RMT Configuration

#
# I2S Configuration
#
CONFIG_I2S_SUPPRESS_DEPRECATE_WARN=y
# end of I2S Configuration

# end of Driver Configurations

#
# ESP-TLS
#
CONFIG_ESP_TLS_SERVER=y
# end of ESP-TLS

#
# ESP System Settings
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
#
# Memory
#
CONFIG_ESP32S3_RTCDATA_IN_FAST_MEM=y
# end of Memory

CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
# CONFIG_ESP_TASK_WDT_INIT is not set
# end of ESP System Settings

#
# LWIP
#
CONFIG_LWIP_MAX_SOCKETS=8
CONFIG_LWIP_SO_RCVBUF=y
#
# TCP
#
CONFIG_LWIP_MAX_ACTIVE_TCP=4
CONFIG_LWIP_MAX_LISTENING_TCP=4
CONFIG_LWIP_TCP_SYNMAXRTX=6
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=2880
CONFIG_LWIP_TCP_WND_DEFAULT=2880
CONFIG_LWIP_TCP_RTO_TIME=3000
# end of TCP

# end of LWIP

#
# mbedTLS
#
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=2048
#
# Certificate Bundle
#
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_NONE=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE_PATH="../../lib/certificates/data/roots.pem"
# end of Certificate Bundle

#
# TLS Key Exchange Methods
#
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y
# end of TLS Key Exchange Methods

CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
# end of mbedTLS

#
# SPI Flash driver
#
# CONFIG_SPI_FLASH_YIELD_DURING_ERASE is not set
CONFIG_SPI_FLASH_WRITE_CHUNK_SIZE=4096
# end of SPI Flash driver

#
# Ultra Low Power (ULP) Co-processor
#
CONFIG_ULP_COPROC_ENABLED=y
# end of Ultra Low Power (ULP) Co-processor

#
# Camera configuration
#
# CONFIG_OV7670_SUPPORT is not set
# CONFIG_NT99141_SUPPORT is not set
# CONFIG_OV2640_SUPPORT is not set
# CONFIG_GC2145_SUPPORT is not set
# CONFIG_GC032A_SUPPORT is not set
# CONFIG_GC0308_SUPPORT is not set
# CONFIG_BF3005_SUPPORT is not set
# CONFIG_BF20A6_SUPPORT is not set
# CONFIG_SC030IOT_SUPPORT is not set
# end of Camera configuration

# end of Component config

# end of Espressif IoT Development Framework Configuration
