#
# Espressif IoT Development Framework Configuration
#
#
# Compiler options
#
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
# end of Compiler options

#
# Component config
#
#
# ESP System Settings
#
CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT=y
# end of ESP System Settings

# end of Component config

# end of Espressif IoT Development Framework Configuration
