#
# Espressif IoT Development Framework Configuration
#
#
# Component config
#
#
# Bluetooth
#
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
#
# NimBLE Options
#
CONFIG_BT_NIMBLE_LOG_LEVEL_NONE=y
CONFIG_BT_NIMBLE_NVS_PERSIST=y
#
# Memory Settings
#
CONFIG_BT_NIMBLE_ACL_BUF_COUNT=20
CONFIG_BT_NIMBLE_HCI_EVT_BUF_SIZE=70
# end of Memory Settings

CONFIG_BT_NIMBLE_EXT_ADV=y
# end of NimBLE Options

#
# Controller Options
#
# CONFIG_BT_CTRL_BLE_SCAN_DUPL is not set
# end of Controller Options

# end of Bluetooth

# end of Component config

# end of Espressif IoT Development Framework Configuration
