#
# Espressif IoT Development Framework Configuration
#
#
# Partition Table
#
CONFIG_PARTITION_TABLE_CUSTOM=y
# end of Partition Table

#
# Component config
#
#
# Driver Configurations
#
#
# GPTimer Configuration
#
CONFIG_GPTIMER_CTRL_FUNC_IN_IRAM=y
CONFIG_GPTIMER_ISR_IRAM_SAFE=y
# end of GPTimer Configuration

# end of Driver Configurations

#
# PHY
#
# CONFIG_ESP_PHY_CALIBRATION_AND_DATA_STORAGE is not set
# end of PHY

#
# ESP System Settings
#
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
# CONFIG_ESP_TASK_WDT_INIT is not set
# CONFIG_ESP_DEBUG_OCDAWARE is not set
# end of ESP System Settings

#
# Wi-Fi
#
# CONFIG_ESP_WIFI_NVS_ENABLED is not set
# end of Wi-Fi

#
# LWIP
#
CONFIG_LWIP_MAX_SOCKETS=8
CONFIG_LWIP_SO_RCVBUF=y
#
# TCP
#
CONFIG_LWIP_MAX_ACTIVE_TCP=4
CONFIG_LWIP_MAX_LISTENING_TCP=4
CONFIG_LWIP_TCP_SYNMAXRTX=6
CONFIG_LWIP_TCP_SND_BUF_DEFAULT=2880
CONFIG_LWIP_TCP_WND_DEFAULT=2880
CONFIG_LWIP_TCP_RTO_TIME=3000
# end of TCP

# end of LWIP

#
# mbedTLS
#
CONFIG_MBEDTLS_SSL_OUT_CONTENT_LEN=2048
#
# mbedTLS v3.x related
#
# CONFIG_MBEDTLS_SSL_KEEP_PEER_CERTIFICATE is not set
# end of mbedTLS v3.x related

#
# Certificate Bundle
#
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_NONE=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CUSTOM_CERTIFICATE_BUNDLE_PATH="../../lib/certificates/data/roots.pem"
# end of Certificate Bundle

#
# TLS Key Exchange Methods
#
# CONFIG_MBEDTLS_KEY_EXCHANGE_RSA is not set
# end of TLS Key Exchange Methods

CONFIG_MBEDTLS_SSL_PROTO_DTLS=y
#
# Certificates
#
# CONFIG_MBEDTLS_PEM_WRITE_C is not set
# end of Certificates

# CONFIG_MBEDTLS_ECP_DP_SECP192R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP224R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP521R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP192K1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_SECP224K1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_BP256R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_BP384R1_ENABLED is not set
# CONFIG_MBEDTLS_ECP_DP_BP512R1_ENABLED is not set
CONFIG_MBEDTLS_ECP_NIST_OPTIM=y
# CONFIG_MBEDTLS_ECP_FIXED_POINT_OPTIM is not set
# end of mbedTLS

#
# SPI Flash driver
#
# CONFIG_SPI_FLASH_YIELD_DURING_ERASE is not set
CONFIG_SPI_FLASH_WRITE_CHUNK_SIZE=4096
# end of SPI Flash driver

#
# Camera configuration
#
# CONFIG_OV7670_SUPPORT is not set
# CONFIG_NT99141_SUPPORT is not set
# CONFIG_OV2640_SUPPORT is not set
# CONFIG_GC2145_SUPPORT is not set
# CONFIG_GC032A_SUPPORT is not set
# CONFIG_GC0308_SUPPORT is not set
# CONFIG_BF3005_SUPPORT is not set
# CONFIG_BF20A6_SUPPORT is not set
# CONFIG_SC030IOT_SUPPORT is not set
# end of Camera configuration

# end of Component config

CONFIG_IDF_EXPERIMENTAL_FEATURES=y
# end of Espressif IoT Development Framework Configuration
