#
# Espressif IoT Development Framework Configuration
#
#
# Component config
#
#
# Hardware Settings
#
#
# Sleep Config
#
# CONFIG_ESP_SLEEP_PSRAM_LEAKAGE_WORKAROUND is not set
# end of Sleep Config

# end of Hardware Settings

#
# ESP PSRAM
#
CONFIG_SPIRAM=y
#
# SPI RAM config
#
CONFIG_SPIRAM_USE_MEMMAP=y
# end of SPI RAM config

# end of ESP PSRAM

# end of Component config

# end of Espressif IoT Development Framework Configuration
