#
# Espressif IoT Development Framework Configuration
#
#
# Component config
#
#
# Driver Configurations
#
#
# PCNT Configuration
#
CONFIG_PCNT_CTRL_FUNC_IN_IRAM=y
# end of PCNT Configuration

# end of Driver Configurations

#
# ESP System Settings
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y
#
# Cache config
#
CONFIG_ESP32S2_INSTRUCTION_CACHE_16KB=y
CONFIG_ESP32S2_DATA_CACHE_16KB=y
# end of Cache config

#
# Memory
#
CONFIG_ESP32S2_RTCDATA_IN_FAST_MEM=y
# end of Memory

# end of ESP System Settings

#
# Wi-Fi
#
CONFIG_ESP_WIFI_STATIC_RX_BUFFER_NUM=4
CONFIG_ESP_WIFI_RX_BA_WIN=4
# end of Wi-Fi

#
# Newlib
#
CONFIG_NEWLIB_NANO_FORMAT=y
# end of Newlib

#
# Ultra Low Power (ULP) Co-processor
#
CONFIG_ULP_COPROC_ENABLED=y
CONFIG_ULP_COPROC_RESERVE_MEM=8176
# end of Ultra Low Power (ULP) Co-processor

# end of Component config

# end of Espressif IoT Development Framework Configuration
