#
# Espressif IoT Development Framework Configuration
#
#
# Component config
#
#
# Bluetooth
#
#
# NimBLE Options
#
CONFIG_BT_NIMBLE_PINNED_TO_CORE_1=y
# end of NimBLE Options

# end of Bluetooth

#
# ESP System Settings
#
CONFIG_ESP_MAIN_TASK_AFFINITY_CPU1=y
# end of ESP System Settings

#
# IPC (Inter-Processor Call)
#
CONFIG_ESP_IPC_TASK_STACK_SIZE=1536
# end of IPC (Inter-Processor Call)

#
# Wi-Fi
#
CONFIG_ESP32_WIFI_STATIC_RX_BUFFER_NUM=4
CONFIG_ESP32_WIFI_DYNAMIC_RX_BUFFER_NUM=8
CONFIG_ESP32_WIFI_DYNAMIC_TX_BUFFER_NUM=16
# CONFIG_ESP32_WIFI_NVS_ENABLED is not set
# end of Wi-Fi

#
# Ultra Low Power (ULP) Co-processor
#
CONFIG_ULP_COPROC_RESERVE_MEM=8176
# end of Ultra Low Power (ULP) Co-processor

# end of Component config

# end of Espressif IoT Development Framework Configuration
