*.exp
!async_await.py.exp
!async_await2.py.exp
!async_def.py.exp
!async_for.py.exp
!async_for2.py.exp
!async_with_break.py.exp
!async_with_return.py.exp
!async_with.py.exp
!async_with2.py.exp
!builtin_help.py.exp
!bytes_compare3.py.exp
!bytes_format_modulo.py.exp
!deque2.py.exp
!dict_fixed.py.exp
!errno1.py.exp
!exception_chain.py.exp
!generator_pend_throw.py.exp
!generator_pep479.py.exp
!io_buffered_writer.py.exp
!io_bytesio_ext2.py.exp
!io_write_ext.py.exp
!memoryerror.py.exp
!module2.py.exp
!ordereddict_eq.py.exp
!parser.py.exp
!python34.py.exp
!python36.py.exp
!special_methods2.py.exp
!string_endswith_upy.py.exp
!string_startswith_upy.py.exp
!struct_micropython.py.exp
!subclass_native_call.py.exp
!try_except_break.py.exp
!try_finally_continue.py.exp
