build
build-fast
build-minimal
build-coverage
build-nanbox
build-freedos
build-fuzzing
micropython
micropython_fast
micropython_fuzzing
micropython_minimal
micropython_coverage
micropython_nanbox
micropython_freedos*
*.py
*.gcov
