CONFIG_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_AFTER_NORESET=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_USB_AND_UART=y

# LWIP
CONFIG_LWIP_LOCAL_HOSTNAME="ESP32-S2-WROVER"
# end of LWIP
