# Old Nordic soft devices that don't allow redistribution
#########################################################
bluetooth/s132_nrf52_2.0.1/

!bluetooth/*/*.hex

# Build files
#####################
build-*/
