# Old Nordic soft devices that don't allow redistribution
#########################################################
drivers/bluetooth/s132_nrf52_2.0.1/

!drivers/bluetooth/*/*.hex

# Build files
#####################
build-*/
