# code signing platform
# supported platforms [AmazonFreeRTOS-TI-CC3220SF,AmazonFreeRTOS-Default]
CODE_SIGN_PLATFORM = AmazonFreeRTOS-Default

# name of the bucket to store the unsigned image, must be created and versioning enabled before running the python script
UNSIGNED_BUCKET_NAME = ota-unsigned-image

# name of the bucket to store the signed image,must be created before running the python script
SIGNED_BUCKET_NAME = ota-signed-image

# certificate arn
CERT_ARN = arn:aws:acm:...
