#Following are parameters used to configure the OTA descriptor.

# 1. OTA sequence number in 32-bit unsigned integer
# Expected range [1,4294967295]

SEQUENCE_NUMBER = 2




# 2. startAddress in 32-bit hexadecimal number
# Expected range [MIN_ADDRESS, MAX_ADDRESS), where MIN_ADDRESS and MAX_ADDRESS are defined in config-validation-rules folder

START_ADDRESS = 0xBD000008




# 3. executionAddress in 32-bit hexadecimal number
# Expected range [START_ADDRESS,END_ADDRESS], where END_ADDRESS = START_ADDRESS + 24 bytes + size of input image

EXECUTION_ADDRESS = 0xBD000020




# 4. hardwareID
# Expected format: a.b.c
# where a,b is 8-bit unsigned integer with range [0,255], c is 16-bit unsigned integer with range range[0,65535]
# Exmples are 0.0.0 or 255.255.65535

HARDWARE_ID = 0.0.1




# 5. reserve byte in in 32-bit hexadecimal number
# Expected range [0x0,0xFFFFFFFF]

RESERVED_BYTES = 0xFFFFFFFF


