# Copyright (c) 2025 Infineon Technologies AG,
# or an affiliate of Infineon Technologies AG.
#
# SPDX-License-Identifier: Apache-2.0

set ENABLE_CM55 1
set ENABLE_CM33 1

source [find interface/kitprog3.cfg]
transport select swd

if { [info exists _ZEPHYR_BOARD_SERIAL] } {
	adapter serial $_ZEPHYR_BOARD_SERIAL
}

if { [info exists WEST_ATTACH] } {
	set ENABLE_ACQUIRE 0
}

source [find target/infineon/pse84xgxs2.cfg]
cat1d.cm55 configure -rtos auto -rtos-wipe-on-reset-halt 1
cat1d.cm33 configure -rtos auto -rtos-wipe-on-reset-halt 1
gdb_breakpoint_override hard

if { [info exists WEST_ATTACH] } {
	set _RESET 0
} else {
	set _RESET 1
}

if {$_RESET} {
	cat1d.cm55 configure -event gdb-attach {
		reset_halt cm55
	}

	cat1d.cm33 configure -event gdb-attach {
		cat1d.cm33 cortex_m vector_catch reset
		reset run
		cat1d.cm33 arp_waitstate halted 8000
		cat1d.cm33 cortex_m vector_catch none
	}
}
