# Copyright (c) 2025 Infineon Technologies AG,
# or an affiliate of Infineon Technologies AG.
#
# SPDX-License-Identifier: Apache-2.0

set SMIF_BANKS {
  1 {addr 0x60000000 size 0x1000000 psize 0x0000100 esize 0x0010000}
}
