# No newlines in this file so they are preserved in the board sdkconfig.
# CONFIG_ESP_ERR_TO_NAME_LOOKUP is not set
# CONFIG_ESP_CONSOLE_UART_DEFAULT is not set
# CONFIG_CONSOLE_UART_DEFAULT is not set
CONFIG_ESP_CONSOLE_UART_NONE=y
CONFIG_ESP_CONSOLE_NONE=y
CONFIG_ESP_CONSOLE_UART_NUM=-1
CONFIG_CONSOLE_UART_NUM=-1
# CONFIG_ESP_SYSTEM_PANIC_PRINT_HALT is not set
CONFIG_ESP_SYSTEM_PANIC_SILENT_REBOOT=y
# CONFIG_ESP32S2_PANIC_PRINT_HALT is not set
CONFIG_ESP32S2_PANIC_SILENT_REBOOT=y