CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_80M=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESP32_REV_MIN_1=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions-16MiB.csv"
CONFIG_ESP32_REV_MIN_1=y
MICROPY_PY_BLUETOOTH=0
MICROPY_BLUETOOTH_NIMBLE=0
MICROPY_PY_RFCOMM=y
