*.pyc
build/
TAGS
.TAGS
settings.bin
docs/_build

coverage.*

# Coverage output.
tst/*/*/amber.png
tst/*/*/emerald.png
tst/*/*/gcov.css
tst/*/*/glass.png
tst/*/*/index.html
tst/*/*/index-sort-f.html
tst/*/*/index-sort-l.html
tst/*/*/ruby.png
tst/*/*/snow.png
tst/*/*/updown.png
tst/*/*/micropython
tst/*/*/src
tst/*/*/simba
tst/*/*/tst

tst/*/amber.png
tst/*/emerald.png
tst/*/gcov.css
tst/*/glass.png
tst/*/index.html
tst/*/index-sort-f.html
tst/*/index-sort-l.html
tst/*/ruby.png
tst/*/snow.png
tst/*/updown.png
tst/*/micropython
tst/*/src
tst/*/simba
tst/*/tst

examples/*/*/amber.png
examples/*/*/emerald.png
examples/*/*/gcov.css
examples/*/*/glass.png
examples/*/*/index.html
examples/*/*/index-sort-f.html
examples/*/*/index-sort-l.html
examples/*/*/ruby.png
examples/*/*/snow.png
examples/*/*/updown.png

*.passed

pumbaa-arduino
database.json