name: Check code formatting

on: [push, pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  code-formatting:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
    - name: Install packages
      run: tools/ci.sh c_code_formatting_setup
    - name: Run code formatting
      run: tools/ci.sh c_code_formatting_run
    - name: Check code formatting
      run: git diff --exit-code
