name: Check commit message formatting

on: [pull_request]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 100
    - uses: actions/setup-python@v6
    - name: Check commit message formatting
      run: tools/ci.sh commit_formatting_run
