name: mimxrt port

on:
  push:
  pull_request:
    paths:
      - '.github/workflows/*.yml'
      - 'tools/**'
      - 'py/**'
      - 'extmod/**'
      - 'shared/**'
      - 'lib/**'
      - 'drivers/**'
      - 'ports/mimxrt/**'
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR number (for retest command)'
        required: false
      pr_sha:
        description: 'PR SHA (for retest command)'
        required: false

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: 'micropython repo'  # test build with space in path
    steps:
    - uses: actions/checkout@v6
      with:
        path: 'micropython repo'
    - name: Install packages
      run: tools/ci.sh mimxrt_setup
    - name: Build
      run: tools/ci.sh mimxrt_build
