name: Python code lint and formatting with ruff

on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      pr_number:
        description: 'PR number (for retest command)'
        required: false
      pr_sha:
        description: 'PR SHA (for retest command)'
        required: false

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    # ruff version should be kept in sync with .pre-commit-config.yaml & also micropython-lib
    - run: pipx install ruff==0.11.6
    - run: ruff check --output-format=github .
    - run: ruff format --diff .
